
#btn {
    border: none;
    background: url("./images/btn.png") no-repeat top left;
    background-size: 100% 100%;
    cursor: pointer;
    position: absolute;
    right: 22%;
    top: 14px;
    width: 20;
    height: 20;
}
#btn:hover{
    background: url("./images/btn_hover.png") no-repeat top left;
    background-size: 100% 100%;
}
#text_erea {
    width: 80%;
    height: 30px;
}
p {
    background-color: aquamarine;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}