@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
/* speech-bubble style */
.container {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 50vw;
    height: 50vh;
}
.text_area{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    resize: none;
}

/* speech-bubble-icon */
.mic {
    position: absolute;
    left: 80px;
    bottom: 5px;
}
.switch {
    position: absolute;
    display: inline-block;
    left: 10px;
    bottom: 5px;
    width: 60px;
    height: 25px;
  }

  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 255, 34);
    -webkit-transition: .4s;
    transition: .4s;
    
  }
  
  .slider:before {
    position: absolute;
    content: "فا";
    top: 2px;
    left: 10px;
    -webkit-transition: .4s;
    transition: .4s;

  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
      content: "En";
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* .facebook::before {
    font-family: "Font Awesome 5 Brands"; 
	font-weight: 400;
	content: "\f130";
} */
